*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: rgb(5, 5, 50);
    color:white ;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}
.choice{
    height: 250px;
    width: 150px;
    padding-left: 40px;
    gap: 20px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 243px;
    width: 115px;
    object-fit: cover;
    border-radius: 30%;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 55px;
}    
.score-board{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 35px;
   margin-top: 60px;
   gap: 4rem;
}
.msg-container{
    margin-top: 60px;
    margin-left: 35rem;
}
#msg{
    font-size: 30px;
    background-color: rgb(5, 5, 50);
    display: inline;
    padding:7px 20px 7px 20px;
    border-radius: 1rem;
    color: white;
    margin-top: 5rem;
}
.choice:hover{
    opacity: 0.85;
    border: 5px solid black;
}
#user-score{
    font-size: 50px;
    text-align: center;
}
#comp-score{
    font-size: 50px;
    text-align: center;
}
